
<div class="row" ng-controller="UiGridCtrl">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">uiGrid</span>
                <div class="widget-buttons">
                    <a href="" widget-maximize></a>
                    <a href="" widget-collapse></a>
                    <a href="" widget-dispose></a>
                </div>
            </div>
            <div class="widget-body no-padding">
                <!--<div ng-grid="gridOptions" style="min-height:500px; overflow-x:hidden;"></div>-->

                <p><strong>Grid with native pagination controls</strong></p>
                <div ui-grid="gridOptions1" ui-grid-pagination class="grid"></div>
                <br /><br />
                <p><strong>Grid pagination controlled via the API</strong></p>
                <div ui-grid="gridOptions2" ui-grid-pagination class="grid"></div>
                <p>Current page: {{ gridApi2.pagination.getPage() }} of {{ gridApi2.pagination.getTotalPages() }}</p>
                <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.previousPage()">
                    previous page
                </button>
                <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.nextPage()">
                    next page
                </button>
                <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.seek(3)">
                    go to page 3
                </button>

            </div>
        </div>
    </div>
</div>
