<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.dao.TbSupplierMapper">
    <resultMap id="BaseResultMap" type="com.boss.entity.vo.TbSupplier">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="supplier_email" jdbcType="VARCHAR" property="supplierEmail"/>
        <result column="contact_name" jdbcType="VARCHAR" property="contactName"/>
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone"/>
        <result column="status_display" jdbcType="VARCHAR" property="statusDisplay"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy"/>
        <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
        <result column="row_version" jdbcType="INTEGER" property="rowVersion"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, supplier_name, supplier_email, contact_name, contact_phone, status_display, description, 
    status, create_by, create_date, last_update_by, last_update_date, row_version, is_valid
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_supplier
        where id = #{id,jdbcType=BIGINT} AND IFNULL(is_valid, 1) = 1;
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_supplier
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.boss.entity.vo.TbSupplier">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into tb_supplier (id, supplier_name, supplier_email,
        contact_name, contact_phone, status_display,
        description, status, create_by,
        create_date, last_update_by, last_update_date,
        row_version, is_valid)
        values (#{id,jdbcType=BIGINT}, #{supplierName,jdbcType=VARCHAR}, #{supplierEmail,jdbcType=VARCHAR},
        #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{statusDisplay,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createBy,jdbcType=BIGINT},
        #{createDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=BIGINT}, #{lastUpdateDate,jdbcType=TIMESTAMP},
        #{rowVersion,jdbcType=INTEGER}, #{isValid,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.boss.entity.vo.TbSupplier">
        insert into tb_supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="supplierName != null">
                supplier_name,
            </if>
            <if test="supplierEmail != null">
                supplier_email,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="contactPhone != null">
                contact_phone,
            </if>
            <if test="statusDisplay != null">
                status_display,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="lastUpdateBy != null">
                last_update_by,
            </if>
            <if test="lastUpdateDate != null">
                last_update_date,
            </if>
            <if test="rowVersion != null">
                row_version,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="supplierName != null">
                #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="supplierEmail != null">
                #{supplierEmail,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="statusDisplay != null">
                #{statusDisplay,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                #{lastUpdateBy,jdbcType=BIGINT},
            </if>
            <if test="lastUpdateDate != null">
                #{lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="rowVersion != null">
                #{rowVersion,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.boss.entity.vo.TbSupplier">
        update tb_supplier
        <set>
            <if test="supplierName != null">
                supplier_name = #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="supplierEmail != null">
                supplier_email = #{supplierEmail,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                contact_name = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                contact_phone = #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="statusDisplay != null">
                status_display = #{statusDisplay,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                last_update_by = #{lastUpdateBy,jdbcType=BIGINT},
            </if>
            <if test="lastUpdateDate != null">
                last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="rowVersion != null">
                row_version = #{rowVersion,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.boss.entity.vo.TbSupplier">
    update tb_supplier
    set supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_email = #{supplierEmail,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      status_display = #{statusDisplay,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=BIGINT},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      row_version = #{rowVersion,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_supplier WHERE IFNULL(is_valid, 1) = 1;
    </select>

    <update id="deleteLogic" parameterType="java.lang.Long">
        UPDATE tb_supplier SET is_valid = 0 WHERE id = #{id, jdbcType=BIGINT}
    </update>
</mapper>